In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
names = pd.read_csv('data/names.csv')
names

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2

In [3]:
import pandas as pd
import numpy as np

In [7]:
new_data_list = ['Aria', 1]
names.loc[4] = new_data_list
names

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2
4      Aria    1

In [8]:
names.loc['five'] = ['Zach', 3]
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3

In [9]:
names.loc[len(names)] = {'Name':'Zayd', 'Age':2}
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3
6         Zayd    2

In [10]:
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3
6         Zayd    2

In [11]:
names.loc[len(names)] = pd.Series({'Age':32, 'Name':'Dean'})
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3
6         Zayd    2
7         Dean   32

In [12]:
names = pd.read_csv('data/names.csv')
names.append({'Name':'Aria', 'Age':1})

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [13]:
names.append({'Name':'Aria', 'Age':1}, ignore_index=True)

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2
4      Aria    1

In [14]:
names.index = ['Canada', 'Canada', 'USA', 'USA']
names

            Name  Age
Canada  Cornelia   70
Canada     Abbas   69
USA     Penelope    4
USA         Niko    2

In [15]:
names.append({'Name':'Aria', 'Age':1}, ignore_index=True)

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2
4      Aria    1

In [16]:
s = pd.Series({'Name': 'Zach', 'Age': 3}, name=len(names))
s

Age        3
Name    Zach
Name: 4, dtype: object

In [17]:
names.append(s)

            Name  Age
Canada  Cornelia   70
Canada     Abbas   69
USA     Penelope    4
USA         Niko    2
4           Zach    3

In [18]:
s1 = pd.Series({'Name': 'Zach', 'Age': 3}, name=len(names))
s2 = pd.Series({'Name': 'Zayd', 'Age': 2}, name='USA')
names.append([s1, s2])

            Name  Age
Canada  Cornelia   70
Canada     Abbas   69
USA     Penelope    4
USA         Niko    2
4           Zach    3
USA         Zayd    2

In [19]:
data_dict = bball_16.iloc[0].to_dict()
print(data_dict)

NameError: name 'bball_16' is not defined

In [20]:
new_data_dict = {k: '' if isinstance(v, str) else np.nan for k, v in data_dict.items()}
print(new_data_dict)

NameError: name 'data_dict' is not defined

In [21]:
random_data = []
for i in range(1000):
    d = dict()
    for k, v in data_dict.items():
        if isinstance(v, str):
            d[k] = np.random.choice(list('abcde'))
        else:
            d[k] = np.random.randint(10)
    random_data.append(pd.Series(d, name=i + len(bball_16)))
    
random_data[0].head()

NameError: name 'data_dict' is not defined

In [22]:
%%timeit
bball_16_copy = bball_16.copy()
for row in random_data:
    bball_16_copy = bball_16_copy.append(row)

NameError: name 'bball_16' is not defined