In [1]:
import pandas as pd
import numpy as np

In [2]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss.query('Month == "Jan"')

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [3]:
def find_perc_loss(s):
    return (s - s.iloc[0]) / s.iloc[0]

In [4]:
bob_jan = weight_loss.query('Name=="Bob" and Month=="Jan"')
find_perc_loss(bob_jan['Weight'])

0    0.000000
2   -0.010309
4   -0.027491
6   -0.027491
Name: Weight, dtype: float64

In [5]:
pcnt_loss = weight_loss.groupby(['Name', 'Month'])['Weight'].transform(find_perc_loss)
pcnt_loss.head(8)

0    0.000000
1    0.000000
2   -0.010309
3   -0.040609
4   -0.027491
5   -0.040609
6   -0.027491
7   -0.035533
Name: Weight, dtype: float64

In [6]:
weight_loss['Perc Weight Loss'] = pcnt_loss.round(3)
weight_loss.query('Name=="Bob" and Month in ["Jan", "Feb"]')

   Name Month    Week  Weight  Perc Weight Loss
0   Bob   Jan  Week 1     291             0.000
2   Bob   Jan  Week 2     288            -0.010
4   Bob   Jan  Week 3     283            -0.027
6   Bob   Jan  Week 4     283            -0.027
8   Bob   Feb  Week 1     283             0.000
10  Bob   Feb  Week 2     275            -0.028
12  Bob   Feb  Week 3     268            -0.053
14  Bob   Feb  Week 4     268            -0.053

In [7]:
week4 = weight_loss.query('Week == "Week 4"')
week4

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [8]:
winner = week4.pivot(index='Month', columns='Name', values='Perc Weight Loss')
winner

Name     Amy    Bob
Month
Apr   -0.053 -0.042
Feb   -0.089 -0.053
Jan   -0.036 -0.027
Mar   -0.017 -0.026

In [9]:
winner['Winner'] = np.where(winner['Amy'] < winner['Bob'], 'Amy', 'Bob')
winner.style.highlight_min(axis=1)

In [10]:
winner.Winner.value_counts()

Amy    3
Bob    1
Name: Winner, dtype: int64

In [11]:
week4a = week4.copy()
month_chron = week4a['Month'].unique() # or month.drop_duplicates
month_chron

array(['Jan', 'Feb', 'Mar', 'Apr'], dtype=object)

In [12]:
week4a['Month'] = pd.Categorical(week4a['Month'], 
                                 categories=month_chron,
                                 ordered=True)
week4a.pivot(index='Month', columns='Name', values='Perc Weight Loss')

Name     Amy    Bob
Month
Jan   -0.036 -0.027
Feb   -0.089 -0.053
Mar   -0.017 -0.026
Apr   -0.053 -0.042